.log__in{
    padding-top: 11rem;
    display: grid;
    place-items: center;
    height: 90vh;
}
.login__form{
    max-width: 600px;
    width: 100%;
    padding: 5rem 3rem;
    border-radius: 5px;
    border: 2px solid var(--color-border-light);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.title{
    font-size: 4rem;
    color: var(--color-primary);
}
.form__icon{
    position: absolute;
    right: 3rem;
    top: 3rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: var(--color-primary);
    display: grid;
    place-items: center;
    cursor: pointer;
}
.form__icon svg{
    fill: #fff;
    font-size: 2.5rem;
}
.login__form input{
    width: 100%;
    padding: 10px 10px;
    border-radius: 2px;
    border-bottom: 1px solid var(--color-primary);
    border-radius: 5px;
}
.login__form input::placeholder{
    font-size: 1.4rem;
    color: var(--color-secondry);
}
.login__form .btn{
    margin-top: 1rem;
    font-size: 1.9rem;
}
.login__form .sub__title{
    font-size: 1.6rem;
    margin-top: 5px;
    text-align: right;
}
.input__field{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.log__in-link{
    font-size: 1.6rem;
    color: var(--color-primary);
    font-weight: 500;
}