.search__bar form{
    display: grid;
    grid-template-columns: 1fr 1fr 15rem;
    align-items: center;
    gap: 1rem;
}
.search__bar .bar__style{
    display: flex;
    align-items: center;
    position: relative;
}
.search__bar .bar__style .bar__icon{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.7rem;
}
.search__bar .bar__style input{
    border: 2px solid var(--color-border);
    width: 100%;
    padding: 1.2rem 2rem 1.2rem 3.5rem;
    border-radius: 3px;
}
.search__bar .bar__style:nth-child(2) input{
    border-right: none;
    border-radius: 3px 0 0 3px;
}
.search__bar .bar__style input::placeholder{
    color: var(--color-border-light);
    font-size: 1.3rem;
}
.search__bar  .btn{
    padding: .98rem;
    background: var(--color-primary);
    border-radius: 0 3px 3px 0;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    margin-left: -1rem;
}





/* ---------------media query(mediam screen)-------------*/
@media screen and (max-width: 1024px) {
    .search__bar{
        width: 70%;
        margin: 4rem auto 0;
    }
    .search__bar form{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .search__bar .bar__style input{
        border: 2px solid var(--color-border);
        width: 100%;
        padding: 1.2rem 2rem 1.2rem 3.5rem;
        border-radius: 3px;
    }
    .search__bar .bar__style:nth-child(2) input{
        border: 2px solid var(--color-border);
    }
    .search__bar  .btn{
        border-radius: 3px;
        margin-left: 0;
    }
}


/*---------------media query(mediam screen)------------- */
@media screen and (max-width: 700px) {
    .search__bar{
        width: 100%;
        margin: 4rem auto 0;
    }
}