.location__container div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.location__container div label{
    display: flex;
    align-items: center;
    gap: 5px;
}
.location__container div label span{
    font-size: 1.6rem;
}