/* --------google font(poppins)----------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{

    --width-lg-screen: 87%;
    --width-md-screen: 87%;
    --width-sm-screen: 90%;
}

.light-theme{
    --color-primary: #3575E2;
    --color-secondry: rgba(67, 67, 67, 0.791);
    --color-is-black: #000;
    --color-light-black: #000000e4;
    --color-bg: #fff;
    --color-border: rgba(128, 128, 128, 0.196);
    --color-border-light: rgba(128, 128, 128, 0.605);
}

.dark-theme{
    --color-primary: #3575E2;
    --color-bg: #222;
    --color-is-black: #fff;
}


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
}
html,body{
    overflow-x: hidden;
}


.container{
    width: var(--width-lg-screen);
    margin: 0 auto;
}
section{
    padding-top: 7rem;
}

img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


.sub__title{
    font-size: 1.4rem;
    color: var(--color-secondry);
}






/* ---------------media query(mediam screen)-------------*/
@media screen and (max-width: 1024px) {
    html{
        font-size: 58.5%;
    }

    .container{
        width: var(--width-md-screen);
    }
    section{
        padding-top: 6rem;
    }
}


/*---------------media query(mediam screen)------------- */
@media screen and (max-width: 700px) {
    html{
        font-size: 55.5%;
    }

    .container{
        width: var(--width-sm-screen);
    }
    section{
        padding-top: 5rem;
    }
}