nav{
    width: 100%;
    height: 7rem;
    display: grid;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    place-items: center;
    border-bottom: 2px solid var(--color-border);
    z-index: 99999;
    background: var(--color-bg);
}

.navbar__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__container .logo{
    color: var(--color-primary);
    font-size: 2.3rem;
    font-weight: 600;
}
nav .menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}
nav .menu li a{
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--color-secondry);
    letter-spacing: .5px;
}
nav .menu li a.active{
    color: var(--color-primary);
}

.right__nav{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
nav .theme__mode,
nav .menu__icon{
    display: flex;
    align-items: center;
}

.right__nav svg{
    font-size: 2rem;
    cursor: pointer;
    color: var(--color-is-black);
    font-weight: 700;
}
.right__nav svg:nth-child(2){
    font-size: 2.3rem;
    color: var(--color-primary);
}

.right__nav .menu__icon svg{
    font-size: 2.5rem;
    display: none;
}









/* ---------------media query(mediam screen)-------------*/
@media screen and (max-width: 1024px) {
    .right__nav .menu__icon svg{
        display: flex;
    }
    nav .menu{
        position: fixed;
        flex-direction: column;
        right: -100%;
        top: 6.85rem;
        align-items: flex-start;
        gap: 2rem;
        border: 2px solid var(--color-border);
        padding: 10rem;
        border-radius: 0 0 0 1rem;
        z-index: 999;
        background: var(--color-bg);
        transition: 0.4s ease-in-out;
    }
    nav .menu.active__nav{
        right: 0;
    }
}


/*---------------media query(mediam screen)------------- */
@media screen and (max-width: 700px) {
    nav .menu{
        padding: 10rem 7rem;
    }
}